* {
    font-family: 'Old Standard TT', serif;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 14px

}
  

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    background-color:white;
    cursor: cell;
    animation: btw; 
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
} 
.livearea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 475px;
    left: 76px;
    width:  510px;
    height: 390px;
    background-color: white;
    animation: btw; 
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}


@keyframes btw {
    from {background-color: black;}
    to{ background-color: white;}
}
.lineone {
    position: fixed;
    top: 520px;
    left: 308px;
}
h1:hover {
    color: black;
    cursor:crosshair;
	}
h1{
    color:#B50000 ;
    animation: blink; 
    animation-delay: 3s;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    
	}

@keyframes blink{
0%{opacity: 0;}
100%{opacity: 1;}
}
