* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #3c4c29;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  padding: 15em;
  min-height: 100vh;
  font-family: wayfinder-cf, serif;
  font-weight: 100;
  font-style: normal;
  color: #E8DED1;
}
h1 a {
  font-family: wayfinder-cf, serif;
  font-weight: 700;
  font-style: normal;
  color: #E8DED1;
  font-size: 3em;
}
h2 {
  font-family: wayfinder-cf, serif;
  font-weight: 100;
  font-style: normal;
}
h1:hover {
  cursor: crosshair;
  transform: scale(1.5);
  transition-duration: 6s;
}