* {
    
    font-family: 'Old Standard TT', serif;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 14px;
    
}

a:hover {
    color: black;
    cursor: crosshair;
	}
a  {
   color: #B50000;
}
.red {
    color: #B50000;
}
.red:hover {
    color: black;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    background-color: white;
    cursor: cell;
 

}  
.livearea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 475px;
    left: 76px;
    width:  510px;
    height: 390px;
    background-color: white;
  
   
}
.linefourteen {
    position: fixed;
    top: 669px;
    left: 194px;
    animation: blink;
    animation-delay: none;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  
}
.linethirteen {
    position: fixed;
    top: 453px;
    left: 370px;
  
}
.linetwelve {
    position: fixed;
    top: 453px;
    left: 308px;

}

.lineeleven {
    position: fixed;
     top: 669px;
    left: 327px;
    
}

.lineten {
    position: fixed;
    top: 570px;
   left: 449px; 
}
.linenine {
    position: fixed;
    top: 820px;
    left: 75px;   
}

.lineeight {
    position: fixed;
    top: 487px;
    left: 370px; 
}


@keyframes blink{
0%{opacity: 0;}
100%{color: 1;}
        
}

.linesix {
    position: fixed;
    top: 745px;
    left: 255px;    
}

.linefive {
    position: fixed;
    top: 560px;
    left: 207px;
}

.linefour {
    position: fixed;
    top: 560px;
    left: 112px;
  
}

.linethree {
    position: fixed;
    top: 560px;
    left: 75px ;
   
}

.linetwo {
    position: fixed;
    top: 706px;
    left: 194px;
}


.lineone {
    position: fixed;
    top: 520px;
    left: 370px;
    
}


.backdoor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    position: fixed;
    left: 98%;
    top: 96%;
    font-size: 10px;
   
    color: #B50000;
}
.backdoor a:hover {
    color: black;
     cursor: crosshair;
}