* {
    
    font-family: 'Old Standard TT', serif;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 14px;
    
}

a:hover {
    color: black;
     cursor: crosshair;
	}
a  {
   
    color: #B50000;
}
.red {
    color: #B50000;
}
.blink:hover {
    color: black;
     cursor: crosshair;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    background-color: white;
    cursor: cell;
    animation: btw; 
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
 

}  
.livearea {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    top: 475px;
    left: 76px;
    width:  510px;
    height: 390px;
    background-color: white;
    animation: btw; 
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
  
   
}




@keyframes btw {
    from {background-color: black;}
    to{ background-color: white;}
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}



.seventeen_five {
    position: fixed;
    top: 520px;
    left: 217px;
    color: #B50000;
    font-style: italic;
}

.seventeen_four {
    position: fixed;
    top: 487px;
    left: 215px;
    color: #B50000;
    font-style: italic;
}
.seventeen_three {
    position: fixed;
    top: 453px;
    left: 255px;
    color: #B50000;
    font-style: italic;
}

.seventeen_two {
    position: fixed;
    top: 603px;
    left: 460px;
    color: #B50000;   
}
.seventeen_two:hover {
    color: black;
}
.seventeen_one {
    position: fixed;
    top: 602px;
    left: 435px;
    color: #B50000;   
}

.lineseventeen {
    position: fixed;
    top: 602px;
    left: 365px;
    color: #B50000;
    font-style: italic;
}

.linesixteen {
    position: fixed;
    top: 634px;
    left: 365px;
}
.linefifteen {
    position: fixed;
    top: 784px;
    left: 255px;
}
.linefourteen {
    position: fixed;
    top: 669px;
    left: 194px;
}
.linethirteen {
    position: fixed;
    top: 453px;
    left: 370px;
  
}
.linetwelve {
    position: fixed;
    top: 453px;
    left: 308px;

}

.lineeleven {
    position: fixed;
     top: 669px;
    left: 327px;
    
}

.lineten {
    position: fixed;
    top: 570px;
   left: 449px; 
}
.linenine {
    position: fixed;
    top: 820px;
    left: 75px;   
}

.lineeight {
    position: fixed;
    top: 487px;
    left: 370px; 
}

.lineseven {
    position: fixed;
    top: 487px;
    left: 308px;
 
    
}
@keyframes blink{
0%{opacity: 0;}
100%{color: 1;}
        
}

.linesix {
    position: fixed;
    top: 745px;
    left: 255px;    
}

.linefive {
    position: fixed;
    top: 560px;
    left: 207px;
}

.linefour {
    position: fixed;
    top: 560px;
    left: 112px;
  
}

.linethree {
    position: fixed;
    top: 560px;
    left: 75px ;
   
}

.linetwo {
    position: fixed;
    top: 706px;
    left: 194px;
}


.lineone {
    position: fixed;
    top: 520px;
    left: 370px;
    
}

.blink {
    color: #B50000;
    animation: blink;
    animation-delay: none;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
   
}

.lineseventeen {
    color: black;
    animation: blink;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
   
}


.backdoor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    position: fixed;
    left: 98%;
    top: 96%;
    font-size: 10px;
    
    color: #B50000;
}
.backdoor a:hover {
    color: black;
    cursor: crosshair;
}